################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TextToSql
/sql_gen/logs
/data/spider/test_database
